<table id="inventoryTable" class="table">
    <thead>
        <tr>
            <th width=50>Key</th>
            <th>Product</th>
            <th>Prices</th>
            <th width=50>Existence</th>
            <th width=50 value=100>Max</th>
            <th width=50 value=1>Min</th>
            <th>Tags</th>
            <th>Add</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id='new_Key' width=50 contenteditable='true'></td>
            <td id='new_Name' contenteditable='true'></td>
            <td id='new_Prices' contenteditable='true'></td>
            <td id='new_Existence' width=50 contenteditable='true'></td>
            <td id='new_Max' width=50 contenteditable='true'></td>
            <td id='new_Min' width=50 contenteditable='true'></td>
            <td id='new_Tags' contenteditable='true'></td>
            
            <td><img src="web/img/icons/newtab.png" id="btn_add" alt="Add Box" width="28" height="28" class="lower-right-button" ></td>
        </tr>
        
        <% results.forEach(function(label){%>
                 
            <tr id="<%=label["objectId"]%>">
                <td id='Key'><%=label["Key"]%></td>
                <td id='Name'><%=label["Name"]%></td>
                <td id='Prices'><%=label["Prices"]%></td>
                <td id='Existence'><%=label["Existence"]%></td>
                <td id='Max'><%=label["Max"]%></td>
                <td id='Min'><%=label["Min"]%></td>
                <td id='Tags'><%=label["Tags"]%></td>
                <td>
                    <div id='divedit_<%=label["objectId"]%>'>
                        <img onclick="edititem('<%=label["objectId"]%>');" src='/web/img/icons/edit.png' width=28 height=28>
                    </div>
                    
                    <div id='divediting_<%=label["objectId"]%>' style="display:none;">
                        <img onclick='deleteitem("<%=label["objectId"]%>");' src='/web/img/icons/delete.png' width=16 height=16>
                        <img onclick='saveitem("<%=label["objectId"]%>");' src='/web/img/icons/save.png' width=16 height=16>
                    </div>
                    
                    <div id='divworking_<%=label["objectId"]%>' style="display:none;">
                        <img src='/web/img/icons/loader_grey.gif' width=28 height=28>
                    </div>
                </td>
            </tr>
            
        <% }) %>
        
    </tbody>
</table>

<script>

    function edititem(objectId)
    {
        var len = $("#" + objectId).children().length;
        
        $("#" + objectId).children().each(function(){
                if($(this).index() < len-1)
                {
                    $(this).attr("contenteditable", true);
                }
            });
            
        $("#divedit_" + objectId).css("display", "none");
        $("#divediting_" + objectId).css("display", "block");
    }
    
    function saveitem(objectId)
    {    
        $("#divediting_" + objectId).css("display", "none");
        $("#divworking_" + objectId).css("display", "block");
        
        var values = {};
        
        $("#" + objectId).children().each(function(){
                if($(this).index() < $("#" + objectId).children().length-1)
                {
                    values[$(this)[0].id] = $(this).text();
                }
            });
            
        $.post("/update", 
                {
                    collection:"Inventories", 
                    objectId: objectId,
                    values:values
                }, 
                function(data)
                {
                    res = JSON.parse(data);
                    
                    $("#divedit_" + res["objectId"]).css("display", "block");
                    $("#divworking_" + res["objectId"]).css("display", "none");
                }
            ); 
                        
    }
    
    function deleteitem(objectId)
    {
        $("#divediting_" + objectId).css("display", "none");
        $("#divworking_" + objectId).css("display", "block");
        
        $.post("/deleterow", 
                            {collection:"Inventories", "objectId":objectId},
                            function(data)
                            {
                                res = JSON.parse(data);
                                $("#" + res["objectId"]).replaceWith("");
                            });
    }

    $("#btn_add").click(function(){
        
            if($("#new_Key").text().length == 0 ||
                $("#new_Name").text().length == 0 ||
                $("#new_Prices").text().length == 0 ||
                $("#new_Existence").text().length == 0 ||
                $("#new_Max").text().length == 0 ||
                $("#new_Min").text().length == 0 ||
                $("#new_Tags").text().length == 0
                )
            {
                alert("All fields must be filled");
                return;
            }
            
            $("#btn_add").replaceWith("<img id='img_working' src='/web/img/icons/loader_grey.gif' width=28 height=28>");
                
            $.post("/extends", 
                {
                    values:
                    {
                        /*Transaction: {__type: "Autoincrement"},*/
                        Store: {__type: "Pointer", className: "Agencies", objectId: agencyID},
                        Key: $("#new_Key").text(),
                        Name: $("#new_Name").text(),
                        Prices:         $("#new_Prices").text(),
                        Existence:         $("#new_Existence").text(),
                        Max:         $("#new_Max").text(),
                        Min:         $("#new_Min").text(),
                        Tags:         $("#new_Tags").text()
                    },
                    collection: "Inventories",
                    }, 
                    
                    function(data)
                    {
                        
                        InsertTable({
                                cols:   /*Columnas definidas FIELD:TITLE or FIELD:{FIELDNEEDED:FIELDTITLE}*/
                                     {
                                        
                                        "Key":"",
                                        "Name":"",
                                        "Prices":"",
                                        "Existence":"",
                                        "Max":"",
                                        "Min":"",
                                        "Tags":"",
                                        "objectId":""
                                    },
                                    
                                collection: "Inventories",
                                
                                document: "agencies/inventory/table",
                                itemid: "inventoryTable"
                            });
                        
                        $("#img_working").replaceWith("<img src='web/img/icons/newtab.png' id='btn_add' alt='Add Box' width=28 height=28 class='lower-right-button'>");
                        
                    }
            ); 
            
        });

</script>
