<div id="repack_table">
    <table class="table table-bordered" id="blueRow">
        <tr>
            <th>Check</th>
            <th>Rcpt. #</th>
            <th>Shipper</th>
            <th>Date</th>
            <th>Country</th>
            <th>Invoice</th>
            <th>Transport</th>
            <th>Volume</th>
            <th>WareHouse</th>
        </tr>

        <% results.forEach(function(label){%>
            <tr>
                <td align="center"><input id="<%=label['objectId']%>" name="checkware" type="checkbox"></td>
                <td align="center"><%= label["Receipt"]%></td>
                <td><%= label["Shipper"]%></td>
                <td><%= label["ReceiptDate"]%></td>
                <td><%= label["Country"]%></td>
                <td><%= label["Invoice"]%></td>
                <td><%= label["Transport"]%></td>
                <td><%= label["Volume"]%></td>
                <td><%= label["Warehouse"]%></td>
            </tr>
        <% }) %>        
    </table>
    
    
</div>
