<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=VT323|Jura&amp;subset=all">
		<title>Log In</title>
		<link rel="stylesheet" type="text/css" href="/login/css/site.20150911194255.css">
	        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
	        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	        <script src="//www.parsecdn.com/js/parse-1.4.2.min.js"></script>

		<script>
		function registerClient(){
			document.getElementById("LoginDivForm").style.display='none';
			document.getElementById("registerClientForm").style.display = '';
		
		}
	
		function gobacktoLogin(){
			document.getElementById("registerClientForm").style.display = 'none';
			document.getElementById("LoginDivForm").style.display='';
		}
		</script>

		<style>

		    .centerRow { margin-left:auto; margin-right:auto; }
		    .spaceRow { margin-top:10px; margin-bottom:10px; }

		    .inputText {
	            width: 230px;
	            height: 33px;
	            font-size: 11.25pt;
	            font-family: Jura;
	            font-weight: 400;
	            color: rgb(64,64,64);
	            text-align: center;}

	        .buttonLogin {
	            text-decoration: none;
	            width: 200px;
	            height: 30px;
	            background-color: slategray;
	            font-size: 9.00pt;
	            font-weight: 400;
	            font-style: normal;
	            color: rgb(255,255,255);
	        }

	        .buttonOK {
	            text-decoration: none;
	            width: 200px;
	            height: 30px;
	            background-color: rgb(200,10,10);
	            font-size: 9.00pt;
	            font-weight: 400;
	            font-style: normal;
	            color: rgb(255,255,255);
	        }

	        .buttonCancel {
	            text-decoration: none;
	            width: 200px;
	            height: 30px;
	            background-color: rgb(10,10,200);
	            font-size: 9.00pt;
	            font-weight: 400;
	            font-style: normal;
	            color: rgb(255,255,255);
	        }

	        @font-face {
	            font-family:"VT323";
	            src: url("fonts/VT323-Regular.ttf");
	        }

	        @font-face {
	            font-family:"Jura";
	            src: url("fonts/Jura-Regular.ttf");
	        }

		</style>
		
		<style>
		.modalDialog {
			position: fixed;
			font-family: Arial, Helvetica, sans-serif;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(0,0,0,0.8);
			z-index: 99999;
			opacity:0;
			-webkit-transition: opacity 400ms ease-in;
			-moz-transition: opacity 400ms ease-in;
			transition: opacity 400ms ease-in;
			pointer-events: none;
		}

		.modalDialog:target {
			opacity:1;
			pointer-events: auto;
		}

		.modalDialog > div {
			width: 400px;
			position: relative;
			/*margin: 10% auto;*/
			margin-left: auto;
			margin-right: auto;
			margin-top: 10px;
			padding: 5px 20px 13px 20px;
			border-radius: 10px;
			background: white;			
		}

		.close {
			background: #606061;
			color: #FFFFFF;
			line-height: 25px;
			position: absolute;
			right: -12px;
			text-align: center;
			top: -10px;
			width: 24px;
			text-decoration: none;
			font-weight: bold;
			-webkit-border-radius: 12px;
			-moz-border-radius: 12px;
			border-radius: 12px;
			-moz-box-shadow: 1px 1px 3px #000;
			-webkit-box-shadow: 1px 1px 3px #000;
			box-shadow: 1px 1px 3px #000;
		}

		.close:hover { background: #00d9ff; }
		
		
		.modalDialog-CLREG {
			position: fixed;
			font-family: Arial, Helvetica, sans-serif;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(0,0,0,0.8);
			z-index: 99999;
			opacity:0;
			-webkit-transition: opacity 400ms ease-in;
			-moz-transition: opacity 400ms ease-in;
			transition: opacity 400ms ease-in;
			pointer-events: none;
		}

		.modalDialog-CLREG:target {
			opacity:1;
			pointer-events: auto;
		}

		.close-CLREG {
			background: #606061;
			color: #FFFFFF;
			line-height: 25px;
			position: absolute;
			right: -12px;
			text-align: center;
			top: -10px;
			width: 24px;
			text-decoration: none;
			font-weight: bold;
			-webkit-border-radius: 12px;
			-moz-border-radius: 12px;
			border-radius: 12px;
			-moz-box-shadow: 1px 1px 3px #000;
			-webkit-box-shadow: 1px 1px 3px #000;
			box-shadow: 1px 1px 3px #000;
		}

		.close:hover { background: #00d9ff; }
		</style>
		
	</head>
	<body id="body">
		<div class="section-LOGIN" id="<div id="sparks"">
			<div class="cont-LOGIN" id="sparks">
				<div class="cont-2-LOGIN" id="sparks">
					<div class="colwrapper-LOGIN" id="sparks">
						<div class="cont-3-LOGIN" id="sparks">
							<div class="cont-4-LOGIN" id="sparks"><p class="para-LOGIN"><span class="font-LOGIN">LOGIN</span></p></div>
						</div>
						<div class="cont-5-LOGIN" id="sparks"></div>
					</div>
				</div>
				<div class="cont-6-LOGIN" id="sparks">
					<div class="colwrapper-2-LOGIN" id="sparks">
						<div class="cont-7-LOGIN" id="sparks"></div>
						<div class="cont-8-LOGIN" id="sparks">
							<div class="cont-9-LOGIN" id="sparks"><p class="para-2-LOGIN"><span class="font-2-LOGIN"><%= company.get("companyLink").toUpperCase() %></span></p></div>
						</div>
					</div>
				</div>
				<div class="cont-10-LOGIN" id="sparks">
			        <form class="formlog-LOGIN" method="post" action="/logins" id="sparks">
						<input type="hidden" name="company" id="company" value="<%=company.get("companyLink")%>"/>
					<div class="colwrapper-3-LOGIN" id="sparks">
						<div class="cont-11-LOGIN" id="sparks">
							<div class="cont-12-LOGIN" id="sparks"><p class="para-3-LOGIN"><span class="font-3-LOGIN">Username:</span></p></div>
						</div>
					</div>
					<div class="colwrapper-4-LOGIN" id="sparks">
						<div class="cont-13-LOGIN" id="sparks">
							<input name="username" id="username" placeholder="Username" class="input-LOGIN">
						</div>
					</div>
				</div>
				<div class="cont-14-LOGIN" id="sparks">
					<div class="colwrapper-5-LOGIN" id="sparks">
						<div class="cont-15-LOGIN" id="sparks">
							<div class="cont-16-LOGIN" id="sparks"><p class="para-4-LOGIN"><span class="font-4-LOGIN">Password:</span></p></div>
						</div>
					</div>
					<div class="colwrapper-6-LOGIN" id="sparks">
						<div class="cont-17-LOGIN" id="sparks">
							<input type="password" name="password" id="password" placeholder="Password" class="input-2-LOGIN">
						</div>
					</div>
				</div>
				<div class="cont-18-LOGIN" id="sparks">
					<button type="submit" class="button-LOGIN">Log In</button>
                    <br>
                    
                    <%if(typeof(errormsg)!="undefined"){%><p style="color:red;font-size:medium;">Bad login information, please try again!</p><%}%>
				</div>
			</form>
				<div class="cont-19-LOGIN" id="sparks">
					<div class="colwrapper-7-LOGIN" id="sparks">
						<div class="cont-20-LOGIN" id="sparks"></div>
						<div class="cont-21-LOGIN" id="sparks">
							<div class="cont-22-LOGIN" id="sparks">
								<div class="colwrapper-8-LOGIN" id="sparks">
									<div class="cont-23-LOGIN" id="sparks">
										<div class="cont-24-LOGIN" id="sparks"><p class="para-5-LOGIN"> <a href="#openModal" style="text-decoration: none;"><span class="font-5-LOGIN">Forgot something?</span></a></p></div>
									</div>
								</div>
								<div class="colwrapper-9-LOGIN" id="sparks">
									<div class="cont-25-LOGIN" id="sparks">
										<div class="cont-26-LOGIN" id="sparks"><p class="para-6-LOGIN"><span class="font-6-LOGIN">Register:</span></p></div>
									</div>
								</div>
								<div class="colwrapper-10-LOGIN" id="sparks">
									<div class="cont-27-LOGIN" id="sparks">
										<div class="cont-28-LOGIN" id="sparks"><p class="para-7-LOGIN">   <a id="btn_openVendorRegForm" href="#registerStoreForm" style="text-decoration: none;"><span class="font-7-LOGIN">Vendor</span></a></p></div>
									</div>
								</div>
								<div class="colwrapper-11-LOGIN" id="sparks">
									<div class="cont-29-LOGIN" id="sparks">
										<div class="cont-30-LOGIN" id="sparks"><p class="para-8-LOGIN"><span class="font-8-LOGIN">or</span></p></div>
									</div>
								</div>
								<div class="colwrapper-12-LOGIN" id="sparks">
									<div class="cont-31-LOGIN" id="sparks">
										<div class="cont-32-LOGIN" id="sparks"><p class="para-9-LOGIN"> <a id="btn_openClientRegForm" href="#registerClientForm" style="text-decoration: none;"><span class="font-9-LOGIN">Client</span></a></p></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var androidBrowserVersion = RegExp(/Mozilla\/5\.0 \(Linux; .; Android ([\d.]+)/).exec(navigator.userAgent);
if(androidBrowserVersion && parseFloat(androidBrowserVersion[1]) < 5) { document.getElementsByTagName('body')[0].className+=' whitespacefix'; }
		</script>


    <div id="registerClientForm" class="modalDialog-CLREG">
       
            <a href="#close" title="Close" class="close">X</a>
			 		<div class="section-2-CLREG" id="sparks">
			 			<div class="cont-33-CLREG" id="sparks">
			 				<div class="colwrapper-13-CLREG" id="sparks">
			 					<div class="cont-34-CLREG" id="sparks">
			 						<div class="colwrapper-14-CLREG" id="sparks">
			 							<div class="cont-35-CLREG" id="sparks">
			 								<div class="cont-36-CLREG" id="sparks">
			 									<div class="cont-37-CLREG" id="sparks"><p class="para-10-CLREG"><span class="font-10-CLREG">CLIENT REGISTRATION</span></p></div>
			 								</div>
			 							</div>
			 							<div class="cont-38-CLREG" id="sparks"></div>
			 						</div>
			 					</div>
			 					<div class="cont-39-CLREG" id="sparks">
			 						<div class="cont-40-CLREG" id="sparks">
			 							<div class="colwrapper-15-CLREG" id="sparks">
			 								<div class="cont-41-CLREG" id="sparks">
			 									<div class="cont-42-CLREG" id="sparks"><p class="para-11-CLREG"><span class="font-11-CLREG">Full Name:*</span></p></div>
			 								</div>
			 							</div>
			 							<div class="colwrapper-16-CLREG" id="sparks">
			 								<div class="cont-43-CLREG" id="sparks">
			 									<input id="RegClientFullName" type="text" class="input-3-CLREG">
			 								</div>
			 							</div>
			 							<div class="colwrapper-17-CLREG" id="sparks">
			 								<div class="cont-44-CLREG" id="sparks">
			 									<div class="cont-45-CLREG" id="sparks"><p class="para-12-CLREG"><span class="font-12-CLREG">Address:</span></p></div>
			 								</div>
			 							</div>
			 							<div class="colwrapper-18-CLREG" id="sparks">
			 								<div class="cont-46-CLREG" id="sparks">
			 									<input id="RegClientAddress" type="text" class="input-4-CLREG">
			 								</div>
			 							</div>
			 						</div>
			 						<div class="cont-47-CLREG" id="sparks">
			 							<div class="colwrapper-19-CLREG" id="sparks">
			 								<div class="cont-48-CLREG" id="sparks">
			 									<div class="cont-49-CLREG" id="sparks"><p class="para-13-CLREG"><span class="font-13-CLREG">Company Name:*</span><span class="font-14-CLREG">:</span></p></div>
			 								</div>
			 							</div>
			 							<div class="colwrapper-20-CLREG" id="sparks">
			 								<div class="cont-50-CLREG" id="sparks">
			 									<input type="text" id="RegClientCompanyName" class="input-5-CLREG">
			 								</div>
			 							</div>
			 							<div class="colwrapper-21-CLREG" id="sparks">
			 								<div class="cont-51-CLREG" id="sparks">
			 									<div class="cont-52-CLREG" id="sparks"><p class="para-14-CLREG"><span class="font-15-CLREG">City:</span></p></div>
			 								</div>
			 							</div>
			 							<div class="colwrapper-22-CLREG" id="sparks">
			 								<div class="cont-53-CLREG" id="sparks">
			 									<input type="text" name="text" id="RegClientCity" class="input-6-CLREG">
			 								</div>
			 							</div>
			 						</div>
			 						<div class="cont-54-CLREG" id="sparks">
			 							<div class="colwrapper-23-CLREG" id="sparks">
			 								<div class="cont-55-CLREG" id="sparks">
			 									<div class="cont-56-CLREG" id="sparks"><p class="para-15-CLREG"><span class="font-16-CLREG">ID</span><span class="font-17-CLREG">:</span></p></div>
			 								</div>
			 							</div>
			 							<div class="colwrapper-24-CLREG" id="sparks">
			 								<div class="cont-57-CLREG" id="sparks">
			 									<input type="text" id="RegClientID" class="input-7-CLREG">
			 								</div>
			 							</div>
			 							<div class="colwrapper-25-CLREG" id="sparks">
			 								<div class="cont-58-CLREG" id="sparks">
			 									<div class="cont-59-CLREG" id="sparks"><p class="para-16-CLREG"><span class="font-18-CLREG">State:</span></p></div>
			 								</div>
			 							</div>
			 							<div class="colwrapper-26-CLREG" id="sparks">
			 								<div class="cont-60-CLREG" id="sparks">
			 									<input type="text" id="RegClientState" class="input-8-CLREG">
			 								</div>
			 							</div>
			 						</div>
			 						<div class="cont-61-CLREG" id="sparks">
			 							<div class="colwrapper-27-CLREG" id="sparks">
			 								<div class="cont-62-CLREG" id="sparks">
			 									<div class="cont-63-CLREG" id="sparks"><p class="para-17-CLREG"><span class="font-19-CLREG">Tel</span><span class="font-20-CLREG">:</span></p></div>
			 								</div>
			 							</div>
			 							<div class="colwrapper-28-CLREG" id="sparks">
			 								<div class="cont-64-CLREG" id="sparks">
			 									<input type="text" id="RegClientTel" class="input-9-CLREG">
			 								</div>
			 							</div>
			 							<div class="colwrapper-29-CLREG" id="sparks">
			 								<div class="cont-65-CLREG" id="sparks">
			 									<div class="cont-66-CLREG" id="sparks"><p class="para-18-CLREG"><span class="font-21-CLREG">Country:*</span></p></div>
			 								</div>
			 							</div>
			 							<div class="colwrapper-30-CLREG" id="sparks">
			 								<div class="cont-67-CLREG" id="sparks">
			 									<input type="text" id="RegClientCountry" class="input-10-CLREG">
			 								</div>
			 							</div>
			 						</div>
			 						<div class="cont-68-CLREG" id="sparks">
			 							<div class="colwrapper-31-CLREG" id="sparks">
			 								<div class="cont-69-CLREG" id="sparks">
			 									<div class="cont-70-CLREG" id="sparks"><p class="para-19-CLREG"><span class="font-22-CLREG">Cel:</span></p></div>
			 								</div>
			 							</div>
			 							<div class="colwrapper-32-CLREG" id="sparks">
			 								<div class="cont-71-CLREG" id="sparks">
			 									<input type="text" id="RegClientCel" class="input-11-CLREG">
			 								</div>
			 							</div>
			 							<div class="colwrapper-33-CLREG" id="sparks">
			 								<div class="cont-72-CLREG" id="sparks">
			 									<div class="cont-73-CLREG" id="sparks"><p class="para-20-CLREG"><span class="font-23-CLREG">ZIP:</span></p></div>
			 								</div>
			 							</div>
			 							<div class="colwrapper-34-CLREG" id="sparks">
			 								<div class="cont-74-CLREG" id="sparks">
			 									<input type="text" id="RegClientZip" class="input-12-CLREG">
			 								</div>
			 							</div>
			 						</div>
			 						<div class="cont-75-CLREG" id="sparks">
			 							<div class="colwrapper-35-CLREG" id="sparks">
			 								<div class="cont-76-CLREG" id="sparks">
			 									<div class="cont-77-CLREG" id="sparks"><p class="para-21-CLREG"><span class="font-24-CLREG">Email:*</span></p></div>
			 								</div>
			 							</div>
			 							<div class="colwrapper-36-CLREG" id="sparks">
			 								<div class="cont-78-CLREG" id="sparks">
			 									<input type="text" id="RegClientEmail" class="input-13-CLREG">
			 								</div>
			 							</div>
			 							<div class="colwrapper-37-CLREG" id="sparks">
			 								<div class="cont-79-CLREG" id="sparks">
			 									<input id="RegClientSHIP" type="checkbox" class="input-14-CLREG" checked>
			 								</div>
			 							</div>
			 							<div class="colwrapper-38-CLREG" id="sparks">
			 								<div class="cont-80-CLREG" id="sparks">
			 									<div class="cont-81-CLREG" id="sparks"><p class="para-22-CLREG"><span class="font-25-CLREG">Shipper</span></p></div>
			 								</div>
			 							</div>
			 							<div class="colwrapper-39-CLREG" id="sparks">
			 								<div class="cont-82-CLREG" id="sparks">
			 									<input id="RegClientCONS" type="checkbox" class="input-15-CLREG" checked>
			 								</div>
			 							</div>
			 							<div class="colwrapper-40-CLREG" id="sparks">
			 								<div class="cont-83-CLREG" id="sparks">
			 									<div class="cont-84-CLREG" id="sparks"><p class="para-23-CLREG"><span class="font-26-CLREG">Consignee</span></p></div>
			 								</div>
			 							</div>
			 						</div>
			 						<div class="cont-85-CLREG" id="sparks"></div>
			 						<div class="cont-86-CLREG" id="sparks">
			 							<div class="colwrapper-41-CLREG" id="sparks">
			 								<div class="cont-87-CLREG" id="sparks">
			 									<div class="cont-88-CLREG" id="sparks"><p class="para-24-CLREG"><span class="font-27-CLREG">Username:</span></p></div>
			 								</div>
			 							</div>
			 							<div class="colwrapper-42-CLREG" id="sparks">
			 								<div class="cont-89-CLREG" id="sparks">
			 									<input type="text" id="txt_user" class="input-16-CLREG">
			 								</div>
			 							</div>
			 							<div class="colwrapper-43-CLREG" id="sparks">
			 								<div class="cont-90-CLREG" id="sparks">
			 									<div class="cont-91-CLREG" id="sparks"><p class="para-25-CLREG"><span class="font-28-CLREG">Password:</span></p></div>
			 								</div>
			 							</div>
			 							<div class="colwrapper-44-CLREG" id="sparks">
			 								<div class="cont-92-CLREG" id="sparks">
			 									<input type="password" id="txt_pass" class="input-17-CLREG">
			 								</div>
			 							</div>
			 						</div>
			 						<div class="cont-93-CLREG" id="sparks">
			 							<div class="colwrapper-45-CLREG" id="sparks">
			 								<div class="cont-94-CLREG" id="sparks"></div>
			 								<div class="cont-95-CLREG" id="sparks">
			 									<div class="cont-96-CLREG" id="sparks"><p class="para-26-CLREG"><span class="font-29-CLREG">To add more names you would like to use to send or receive your merchandise add consignees.</span></p></div>
			 								</div>
			 							</div>
			 						</div>
			 						<div class="cont-97-CLREG" id="sparks">
			 							<div class="colwrapper-46-CLREG" id="sparks">
			 								<div class="cont-98-CLREG" id="sparks">
			 									<div class="colwrapper-47-CLREG" id="sparks">
			 										<div class="cont-99-CLREG" id="sparks">
			 											<div class="cont-100-CLREG" id="sparks"><p class="para-27-CLREG"><span class="font-30-CLREG">Consignees (<span id="consigneesCount">0</span>) <a href="#consigneesList">View All</a></span></p></div>
			 										</div>
			 									</div>
			 									<div class="colwrapper-48-CLREG" id="sparks">
			 										<div class="cont-101-CLREG" id="sparks">
			 											<a class="button-2-CLREG" href="#addConsigneeForm" id="btn_addConsigneeForm" style="text-decoration: none;">ADD</a>
			 										</div>
			 									</div>
			 								</div>
			 								<div class="cont-102-CLREG" id="sparks"></div>
			 							</div>
			 						</div>
			 						<div class="cont-103-CLREG" id="sparks">
			 							<div class="colwrapper-49-CLREG" id="sparks">
			 								<div class="cont-104-CLREG" id="sparks">
			 									<a class="button-3-CLREG" href="#close">Cancel</a>
			 								</div>
			 							</div>
			 							<div class="colwrapper-50-CLREG" id="sparks">
			 								<div class="cont-105-CLREG" id="sparks">
			 									<button class="button-4-CLREG" type="submit" id="btn_regConsignee">Register</button>
			 								</div>
			 							</div>
			 						</div>
			 					</div>
			 				</div>
			 			</div>
			 		</div>
			 		<script type="text/javascript">
			 			var androidBrowserVersion = RegExp(/Mozilla\/5\.0 \(Linux; .; Android ([\d.]+)/).exec(navigator.userAgent);
			 if(androidBrowserVersion && parseFloat(androidBrowserVersion[1]) < 5) { document.getElementsByTagName('body')[0].className+=' whitespacefix'; }
			 		</script>
			 
   
    </div>


    <div id="addConsigneeForm" class="modalDialog-CLREG">
            <a href="#registerClientForm" title="Close" class="close">X</a>

					<div id="sparks" class="section-3-ADCO" > 
						<div id="sparks" class="cont-106-ADCO" >
							<div id="sparks" class="cont-107-ADCO" >
								<div id="sparks" class="cont-108-ADCO" ><p class="para-28-ADCO"><span class="font-31-ADCO">CONSIGNEE INFORMATION</span></p></div>
							</div>
						</div>
						<div id="sparks" class="cont-109-ADCO" >
							<div id="sparks" class="colwrapper-51-ADCO" >
								<div id="sparks" class="cont-110-ADCO" ></div>
								<div id="sparks" class="cont-111-ADCO" >
									<div id="sparks" class="cont-112-ADCO" >
										<div id="sparks" class="colwrapper-52-ADCO" >
											<div id="sparks" class="cont-113-ADCO" >
												<div id="sparks" class="cont-114-ADCO" ><p class="para-29-ADCO"><span class="font-32-ADCO">Full Name:*</span></p></div>
											</div>
										</div>
										<div id="sparks" class="colwrapper-53-ADCO" >
											<div id="sparks" class="cont-115-ADCO" >
												<input type="text" id="FullnameMainClient" class="input-18-ADCO">
											</div>
										</div>
										<div id="sparks" class="colwrapper-54-ADCO" >
											<div id="sparks" class="cont-116-ADCO" >
												<div id="sparks" class="cont-117-ADCO" ><p class="para-30-ADCO"><span class="font-33-ADCO">Address:</span></p></div>
											</div>
										</div>
										<div id="sparks" class="colwrapper-55-ADCO">
											<div id="sparks" class="cont-118-ADCO">
												<input type="text" id="AddressMainClient" class="input-19-ADCO">
											</div>
										</div>
									</div>
									<div id="sparks" class="cont-119-ADCO">
										<div id="sparks" class="colwrapper-56-ADCO">
											<div id="sparks" class="cont-120-ADCO">
												<div id="sparks" class="cont-121-ADCO"><p class="para-31-ADCO"><span class="font-34-ADCO">Tel:</span></p></div>
											</div>
										</div>
										<div id="sparks" class="colwrapper-57-ADCO">
											<div id="sparks" class="cont-122-ADCO">
												<input type="text" id="TelMainClient" class="input-20-ADCO">
											</div>
										</div>
										<div id="sparks" class="colwrapper-58-ADCO">
											<div id="sparks" class="cont-123-ADCO">
												<div id="sparks" class="cont-124-ADCO"><p class="para-32-ADCO"><span class="font-35-ADCO">City:</span></p></div>
											</div>
										</div>
										<div id="sparks" class="colwrapper-59-ADCO">
											<div id="sparks" class="cont-125-ADCO">
												<input type="text" id="CityMainClient" name="text" class="input-21-ADCO">
											</div>
										</div>
									</div>
									<div id="sparks" class="cont-126-ADCO">
										<div id="sparks" class="colwrapper-60-ADCO">
											<div id="sparks" class="cont-127-ADCO">
												<div id="sparks" class="cont-128-ADCO"><p class="para-33-ADCO"><span class="font-36-ADCO">Cel:</span></p></div>
											</div>
										</div>
										<div id="sparks" class="colwrapper-61-ADCO">
											<div id="sparks" class="cont-129-ADCO">
												<input type="text" id="CelMainClient" class="input-22-ADCO">
											</div>
										</div>
										<div id="sparks" class="colwrapper-62-ADCO">
											<div id="sparks" class="cont-130-ADCO">
												<div id="sparks" class="cont-131-ADCO"><p class="para-34-ADCO"><span class="font-37-ADCO">State:</span></p></div>
											</div>
										</div>
										<div id="sparks" class="colwrapper-63-ADCO">
											<div id="sparks" class="cont-132-ADCO">
												<input type="text" id="StateMainClient" class="input-23-ADCO">
											</div>
										</div>
									</div>
									<div id="sparks" class="cont-133-ADCO">
										<div id="sparks" class="colwrapper-64-ADCO">
											<div id="sparks" class="cont-134-ADCO">
												<div id="sparks" class="cont-135-ADCO"><p class="para-35-ADCO"><span class="font-38-ADCO">Email:*</span></p></div>
											</div>
										</div>
										<div id="sparks" class="colwrapper-65-ADCO">
											<div id="sparks" class="cont-136-ADCO">
												<input type="text" name="text" id="EmailMainClient" class="input-24-ADCO">
											</div>
										</div>
										<div id="sparks" class="colwrapper-66-ADCO">
											<div id="sparks" class="cont-137-ADCO">
												<div id="sparks" class="cont-138-ADCO"><p class="para-36-ADCO"><span class="font-39-ADCO">Country:*</span></p></div>
											</div>
										</div>
										<div id="sparks" class="colwrapper-67-ADCO">
											<div id="sparks" class="cont-139-ADCO">
												<input type="text" id="CountryMainClient" class="input-25-ADCO">
											</div>
										</div>
									</div>
									<div id="sparks" class="cont-140-ADCO">
										<div id="sparks" class="colwrapper-68-ADCO">
											<div id="sparks" class="cont-141-ADCO">
												<div id="sparks" class="cont-142-ADCO"><p class="para-37-ADCO"><span class="font-40-ADCO">ZIP:</span></p></div>
											</div>
										</div>
										<div id="sparks" class="colwrapper-69-ADCO">
											<div id="sparks" class="cont-143-ADCO">
												<input type="text" id="ZipMainClient" class="input-26-ADCO">
											</div>
										</div>
									</div>
									<div id="sparks" class="cont-144-ADCO">
										<div id="sparks" class="colwrapper-70-ADCO">
											<div id="sparks" class="cont-145-ADCO">
												<a class="button-5-ADCO" href="#registerClientForm">Cancel</a>
											</div>
										</div>
										<div id="sparks" class="colwrapper-71-ADCO">
											<div id="sparks" class="cont-146-ADCO">
												<a href="#registerClientForm" class="button-6-ADCO" id="btn_addconsignee">Add Consignee</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<script type="text/javascript">
						var androidBrowserVersion = RegExp(/Mozilla\/5\.0 \(Linux; .; Android ([\d.]+)/).exec(navigator.userAgent);
			if(androidBrowserVersion && parseFloat(androidBrowserVersion[1]) < 5) { document.getElementsByTagName('body')[0].className+=' whitespacefix'; }
					</script>
        </div>
    </div>


    <div id="consigneesList" class="modalDialog">
        <div style="width:600px;">
            <a href="#registerClientForm" title="Close" class="close">X</a>

            <table style="width:100%;" border=0 id="lst_consignees" >
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Country</th>
                        <th>Delete</th>
                    </tr>
                </thead>

                <tbody>
                </tbody>
            </table>
        </div>
    </div>


    <div id="registerStoreForm" class="modalDialog-CLREG" id="sparks">
      
            <a href="#close" title="Close" class="close">X</a>

		   		<div class="section-4" id="sparks">
		   			<div class="cont-147" id="sparks">
		   				<div class="colwrapper-72" id="sparks">
		   					<div class="cont-148" id="sparks">
		   						<div class="colwrapper-73" id="sparks">
		   							<div class="cont-149" id="sparks">
		   								<div class="cont-150" id="sparks">
		   									<div class="cont-151" id="sparks"><p class="para-38"><span class="font-41">VENDOR REGISTRATION</span></p></div>
		   								</div>
		   							</div>
		   							<div class="cont-152"></div>
		   						</div>
		   					</div>
		   					<div class="cont-153" id="sparks">
		   						<div class="cont-154" id="sparks">
		   							<div class="colwrapper-74" id="sparks">
		   								<div class="cont-155" id="sparks">
		   									<div class="cont-156" id="sparks"><p class="para-39"><span class="font-42">Full Name:*</span></p></div>
		   								</div>
		   							</div>
		   							<div class="colwrapper-75" id="sparks">
		   								<div class="cont-157" id="sparks">
		   									<input type="text" id="RegStoreName" class="input-27">
		   								</div>
		   							</div>
		   							<div class="colwrapper-76" id="sparks">
		   								<div class="cont-158" id="sparks">
		   									<div class="cont-159" id="sparks"><p class="para-40"><span class="font-43">Website:</span></p></div>
		   								</div>
		   							</div>
		   							<div class="colwrapper-77" id="sparks">
		   								<div class="cont-160" id="sparks">
		   									<input type="text" id="RegStoreWebsite" class="input-28">
		   								</div>
		   							</div>
		   						</div>
		   						<div class="cont-161" id="sparks">
		   							<div class="colwrapper-78" id="sparks">
		   								<div class="cont-162" id="sparks">
		   									<div class="cont-163" id="sparks"><p class="para-41"><span class="font-44">Company Name:*</span></p></div>
		   								</div>
		   							</div>
		   							<div class="colwrapper-79" id="sparks">
		   								<div class="cont-164" id="sparks">
		   									<input type="text" id="RegStoreCompanyName" class="input-29">
		   								</div>
		   							</div>
		   							<div class="colwrapper-80" id="sparks">
		   								<div class="cont-165" id="sparks">
		   									<div class="cont-166" id="sparks"><p class="para-42"><span class="font-45">Address:</span></p></div>
		   								</div>
		   							</div>
		   							<div class="colwrapper-81" id="sparks">
		   								<div class="cont-167" id="sparks">
		   									<input type="text" id="RegStoreAddress" class="input-30">
		   								</div>
		   							</div>
		   						</div>
		   						<div class="cont-168" id="sparks">
		   							<div class="colwrapper-82" id="sparks">
		   								<div class="cont-169" id="sparks">
		   									<div class="cont-170" id="sparks"><p class="para-43"><span class="font-46">Contact:</span></p></div>
		   								</div>
		   							</div>
		   							<div class="colwrapper-83" id="sparks">
		   								<div class="cont-171" id="sparks">
		   									<input type="text" id="RegStoreContact" class="input-31">
		   								</div>
		   							</div>
		   							<div class="colwrapper-84" id="sparks">
		   								<div class="cont-172" id="sparks">
		   									<div class="cont-173" id="sparks"><p class="para-44"><span class="font-47">City:</span></p></div>
		   								</div>
		   							</div>
		   							<div class="colwrapper-85" id="sparks">
		   								<div class="cont-174" id="sparks">
		   									<input type="text" id="RegStoreCity" class="input-32">
		   								</div>
		   							</div>
		   						</div>
		   						<div class="cont-175" id="sparks">
		   							<div class="colwrapper-86" id="sparks">
		   								<div class="cont-176" id="sparks">
		   									<div class="cont-177" id="sparks"><p class="para-45"><span class="font-48">Tel:</span></p></div>
		   								</div>
		   							</div>
		   							<div class="colwrapper-87" id="sparks">
		   								<div class="cont-178" id="sparks">
		   									<input type="text" id="RegStoreTel" class="input-33">
		   								</div>
		   							</div>
		   							<div class="colwrapper-88" id="sparks">
		   								<div class="cont-179" id="sparks">
		   									<div class="cont-180" id="sparks"><p class="para-46"><span class="font-49">State:</span></p></div>
		   								</div>
		   							</div>
		   							<div class="colwrapper-89" id="sparks">
		   								<div class="cont-181" id="sparks">
		   									<input type="text" id="RegStoreState" class="input-34">
		   								</div>
		   							</div>
		   						</div>
		   						<div class="cont-182" id="sparks">
		   							<div class="colwrapper-90" id="sparks">
		   								<div class="cont-183" id="sparks">
		   									<div class="cont-184" id="sparks"><p class="para-47"><span class="font-50">Cel:</span></p></div>
		   								</div>
		   							</div>
		   							<div class="colwrapper-91" id="sparks">
		   								<div class="cont-185" id="sparks">
		   									<input type="text" id="RegStoreCel" class="input-35">
		   								</div>
		   							</div>
		   							<div class="colwrapper-92" id="sparks">
		   								<div class="cont-186" id="sparks">
		   									<div class="cont-187" id="sparks"><p class="para-48"><span class="font-51">Country:*</span></p></div>
		   								</div>
		   							</div>
		   							<div class="colwrapper-93" id="sparks">
		   								<div class="cont-188" id="sparks">
		   									<input type="text" id="RegStoreCountry" class="input-36">
		   								</div>
		   							</div>
		   						</div>
		   						<div class="cont-189" id="sparks">
		   							<div class="colwrapper-94" id="sparks">
		   								<div class="cont-190" id="sparks">
		   									<div class="cont-191" id="sparks"><p class="para-49"><span class="font-52">Email:*</span></p></div>
		   								</div>
		   							</div>
		   							<div class="colwrapper-95" id="sparks">
		   								<div class="cont-192" id="sparks">
		   									<input type="text" id="RegStoreEmail" class="input-37">
		   								</div>
		   							</div>
		   							<div class="colwrapper-96" id="sparks">
		   								<div class="cont-193" id="sparks">
		   									<div class="cont-194" id="sparks"><p class="para-50"><span class="font-53">ZIP:</span></p></div>
		   								</div>
		   							</div>
		   							<div class="colwrapper-97" id="sparks">
		   								<div class="cont-195" id="sparks">
		   									<input type="text" id="RegStoreZip" class="input-38">
		   								</div>
		   							</div>
		   						</div>
		   						<div class="cont-196" id="sparks"></div>
		   						<div class="cont-197" id="sparks">
		   							<div class="colwrapper-98" id="sparks">
		   								<div class="cont-198" id="sparks">
		   									<div class="cont-199" id="sparks"><p class="para-51"><span class="font-54">Username:</span></p></div>
		   								</div>
		   							</div>
		   							<div class="colwrapper-99" id="sparks">
		   								<div class="cont-200" id="sparks">
		   									<input type="text" id="txt_storeuser" class="input-39">
		   								</div>
		   							</div>
		   							<div class="colwrapper-100" id="sparks">
		   								<div class="cont-201" id="sparks">
		   									<div class="cont-202"><p class="para-52"><span class="font-55">Password:</span></p></div>
		   								</div>
		   							</div>
		   							<div class="colwrapper-101" id="sparks">
		   								<div class="cont-203" id="sparks">
		   									<input type="password" id="txt_storepass" class="input-40">
		   								</div>
		   							</div>
		   						</div>
		   						<div class="cont-204" id="sparks">
		   							<div class="colwrapper-102" id="sparks">
		   								<div class="cont-205" id="sparks"></div>
		   								<div class="cont-206" id="sparks">
		   									<div class="colwrapper-103" id="sparks">
		   										<div class="cont-207" id="sparks">
		   											<a class="button-7" <a href="#close">Cancel</a>
		   										</div>
		   									</div>
		   									<div class="colwrapper-104" id="sparks">
		   										<div class="cont-208" id="sparks">
		   											<a class="button-8" id="btn_regStore">Register</a>
		   										</div>
		   									</div>
		   								</div>
		   							</div>
		   						</div>
		   					</div>
		   				</div>
		   			</div>
		   		</div>
		   		<script type="text/javascript">
		   			var androidBrowserVersion = RegExp(/Mozilla\/5\.0 \(Linux; .; Android ([\d.]+)/).exec(navigator.userAgent);
		   if(androidBrowserVersion && parseFloat(androidBrowserVersion[1]) < 5) { document.getElementsByTagName('body')[0].className+=' whitespacefix'; }
		   		</script>

        </div>
    

    <!--RECOVER ACCOUNT FORM-->
    <div id="openModal" class="modalDialog">
       <div>
         <a href="#close" title="Close" class="close">X</a>
            </br></br>
            
            <form method="post" action="/reset">
                <p>
                <label><font color="#35353C">Account E-mail:</font></label></br></br>
                <input type="email" name="re_email" id="re_email" class="input" placeholder="e-mail" size="34" />
                <input type="hidden" value="<%= company.get("companyLink") %>" name="companyLink">
                </p>
                </br>
                <p class="submit">
                 <input type="submit" name="wp-submit" id="wp-submit" class="btn btn-orange" value="Recover" />  &nbsp &nbsp<a href="#close" style="color:black;" >Cancel</a>
                    </p>
            </form> 
        </div>
    </div>

    <script>

        if( window.location.href.indexOf("cloudbox.parseapp") !=-1 )
            Parse.initialize("Slh0vzK6DCaarshvF1Vu0ku3Rx2hwDdTaYwW7DLU", "TkJgyQRuMqqKtzZ6bEjdESPiUZ6sVkg3QntIxmh7");
        else
            Parse.initialize("XEPryFHrd5Tztu45du5Z3kpqxDsweaP1Q0lt8JOb", "MDhb1hBngr2tx2v9TjyzoUhMcOFeWGJ56TWvChqi");

        var consignees = [];

        

        $("#btn_openClientRegForm").click(function(){
                
                $("#txt_user").val("");
                $("#txt_pass").val("");
                
                $("#RegClientFullName").val("");
                $("#RegClientCompanyName").val("");
                $("#RegClientAddress").val("");
                $("#RegClientAccount").val("");
                $("#RegClientState").val("");
                $("#RegClientID").val("");
                $("#RegClientCountry").val("");
                $("#RegClientCity").val("");
                $("#RegClientTel").val("");
                $("#RegClientZip").val("");
                $("#RegClientCel").val("");
                $("#RegClientEmail").val("");
                                
            });

        $("#btn_openVendorRegForm").click(function(){
                
                $("#txt_storeuser").val("");
                $("#txt_storepass").val("");
                
                $("#RegStoreName").val("");
                $("#RegStoreCompanyName").val("");
                $("#RegStoreWebsite").val("");
                $("#RegStoreAddress").val("");
                $("#RegStoreContact").val("");
                $("#RegStoreAccount").val("");
                $("#RegStoreState").val("");
                $("#RegStoreID").val("");
                $("#RegStoreCountry").val("");
                $("#RegStoreCity").val("");
                $("#RegStoreTel").val("");
                $("#RegStoreZip").val("");
                $("#RegStoreCel").val("");
                $("#RegStoreEmail").val("");
                                
            });
            

        $("#btn_addConsigneeForm").click(function(){
                /* LIMPIAR CONTROLES */
                $("#FullnameMainClient").val("");
                $("#AddressMainClient").val("");
                $("#TelMainClient").val("");
                
                $("#CelMainClient").val("");
                $("#StateMainClient").val("");
                $("#CountryMainClient").val("");
                $("#CityMainClient").val("");
                $("#EmailMainClient").val("");
                $("#ZipMainClient").val("");
            });
        
            
        $("#btn_addconsignee").click(function(){
                
                /* VERIFICAR CAMPOS VALIDOS */
                if($("#FullnameMainClient").val() == "" ||
                	$("#CountryMainClient").val() == "" ||
                	$("#EmailMainClient").val() == "")
                {
                    alert("You must fill the fields with *");
                    return false;
                }
                
                var Clients = Parse.Object.extend("Clients");
                var client = new Clients();
                
                client.set("Name", $("#FullnameMainClient").val() );
                client.set("Address", $("#AddressMainClient").val() );
                client.set("Telephone", $("#TelMainClient").val() );
                /*client.set("Telephone2", $("#Tel2MainClient").val() );*/
                client.set("Cellphone", $("#CelMainClient").val() );
                client.set("State", $("#StateMainClient").val() );
                client.set("Country", $("#CountryMainClient").val() );
                client.set("City", $("#CityMainClient").val() );
                client.set("Zip", $("#ZipMainClient").val() );
                client.set("Email", $("#EmailMainClient").val() );
                client.set("Company", {__type:"Pointer", className:"Companies", objectId:"<%=company.id%>"} );
                
                consignees.push(client);
                
                $("#consigneesCount").html(consignees.length.toString() );
                
                $("#lst_consignees > tbody").append("<tr id='"+client.get("Name")+"'><td style='text-align:center;'>"+ $("#FullnameMainClient").val() +"</td><td style='text-align:center;'>"+ $("#CountryMainClient").val() +"</td><td style='text-align:center;'><button onclick=\"on_deleteConsignee('"+client.get("Name")+"');\" class='btn_deleteConsignee'>DELETE</button></td></tr>");

            });
        
        function on_deleteConsignee(Name)
        {
            /* REMOVE THIS ROW */
            $("#" + Name).remove();
                        
            /* REMOVE THIS CLIENT FROM THE LIST */
            for(i in consignees)
            {
                if(consignees[i].get("Name") == Name)
                {
                    consignees.splice( consignees.indexOf(consignees[i]), 1 );  
                }
            }
            
            /* UPDATE THE COUNTER OF CONSIGNEES ON THE FORM */
            $("#consigneesCount").html(consignees.length.toString() );
        }
        
        $("#btn_cancelConsignee").click(function(){
                /* LIMPIAR CONTROLES */
                
                
                /* RESETEAR LISTA DE CONSIGNEES */
                
            });
        
        $("#btn_regConsignee").click(function(){

                if($("#txt_user").val() == "" || $("#txt_pass").val() == "")
                {
                    alert("Please fill the user and password section");
                    return;
                }

                /* VALIDAR CAMPOS VALIDOS */
                if($("#RegClientFullName").val() == "" ||
                	$("#RegClientCountry").val() == "" ||
                	$("#RegClientCompanyName").val() == "" ||
                	$("#RegClientEmail").val() == "")
                {
                    alert("You must fill the fields with *");
                    return;
                }

                var Clients = Parse.Object.extend("Clients");
                var client = new Clients();

                client.set("Status", "Pending" );
                client.set("Name", $("#RegClientFullName").val() );
                client.set("CompanyName", $("#RegClientCompanyName").val() );
                client.set("Address", $("#RegClientAddress").val() );
                client.set("Account", $("#RegClientAccount").val() );
                client.set("AccountID", $("#RegClientID").val() );
                client.set("Telephone", $("#RegClientTel").val() );
                client.set("Cellphone", $("#RegClientCel").val() );
                client.set("State", $("#RegClientState").val() );
                client.set("Country", $("#RegClientCountry").val() );
                client.set("City", $("#RegClientCity").val() );
                client.set("Zip", $("#RegClientZip").val() );
                client.set("Email", $("#RegClientEmail").val() );
                client.set("IsShipper", $("#RegClientSHIP").is(':checked') );
                client.set("IsConsignee", $("#RegClientCONS").is(':checked') );
                client.set("Company", {__type:"Pointer", className:"Companies", objectId:"<%=company.id%>"} );

                client.save({success: function(client){

                        for(i in consignees)
                        {
                            consignees[i].set("MainClient", client);
                            consignees[i].set("CompanyName", client.get("CompanyName"));
                            
                        }

                        /* SAVE THE SUBCONSIGNEES */
                        Parse.Object.saveAll(consignees,{success:function(result){

                                /* CREATE THE USER ACCOUNT */

                                Parse.Cloud.run('regClient',
                                    {user:$("#txt_user").val(), pass:$("#txt_pass").val(), clientID:client.id, companyID:"<%=company.id%>", companyLink:"<%= company.get("companyLink")%>"},
                                    {
                                        success: function(result){
                                            
                                            /* EMAIL PARAMETERS */
                                            emailparams = {
                                                            "text": "Account information:<br><br>User: " + $("#txt_user").val() + "<br>Pass: " + $("#txt_pass").val(),
                                                            "subject": "Client account created",
                                                            "from_email": "no-reply@lccargoxpress.com",
                                                            "from_name":"Notifier",
                                                            "to_email": client.get("Email"),
                                                            "to_name":client.get("Name")
                                                        };

                                            /* SEND EMAIL */
                                            Parse.Cloud.run('sendMail', emailparams, {
                                                success:
                                                    function(result)
                                                    {
                                                        /*alert(result);*/
                                                    },
                                                error:
                                                    function()
                                                    {
                                                    }
                                                });
                                            
                                            
                                            window.location = "/pendingRegistration/<%=company.get("companyLink").toLowerCase()%>" ;
                                        },
                                        error: function(){
                                            alert("Error al crear cuenta User");
                                        }
                                    });
                            }});

                    }, error:function(){
                        alert("Error guardando clientes consignees");
                    }});

            });

        $("#btn_regStore").click(function(){

                if($("#txt_storeuser").val() == "" || $("#txt_storepass").val() == "")
                {
                    alert("User or pass is empty");
                    return;
                }

                /* VALIDAR CAMPOS VALIDOS */
                if($("#RegStoreName").val() == "" ||
                    $("#RegStoreCompanyName").val() == "" ||
                    $("#RegStoreCountry").val() == "" ||
                    $("#RegStoreEmail").val() == "")
                {
                    alert("You must fill the fields with *");
                    return;
                }

                var Agencies = Parse.Object.extend("Agencies");
                var store = new Agencies();

                store.set("Status", "Pending" );
                store.set("Name", $("#RegStoreName").val() );
                store.set("CompanyName", $("#RegStoreCompanyName").val() );
                store.set("Address", $("#RegStoreAddress").val() );
                store.set("Account", $("#RegStoreAccount").val() );
                store.set("State", $("#RegStoreState").val() );
                store.set("Contact", $("#RegStoreContact").val() );
                store.set("Country", $("#RegStoreCountry").val() );
                store.set("City", $("#RegStoreCity").val() );
                store.set("Telephone", $("#RegStoreTel").val() );
                store.set("Zip", $("#RegStoreZip").val() );
                store.set("Cel", $("#RegStoreCel").val() );
                store.set("Website", $("#RegStoreWebsite").val() );
                store.set("Email", $("#RegStoreEmail").val() );
                store.set("Company", {__type:"Pointer", className:"Companies", objectId:"<%=company.id%>"} );

                store.save({success: function(store){

                        /* CREATE THE USER ACCOUNT */
                        Parse.Cloud.run('regStore',
                            {user:$("#txt_storeuser").val(), pass:$("#txt_storepass").val(), agencyID:store.id, companyID:"<%=company.id%>", companyLink:"<%= company.get("companyLink")%>"},
                            {
                                success: function(result){
                                    
                                    /* EMAIL PARAMETERS */
                                    emailparams = {
                                                    "text": "Account information:<br><br>User: " + $("#txt_storeuser").val() + "<br>Pass: " + $("#txt_storepass").val(),
                                                    "subject": "Vendor account created",
                                                    "from_email": "no-reply@lccargoxpress.com",
                                                    "from_name":"Notifier",
                                                    "to_email": store.get("Email"),
                                                    "to_name":store.get("Name")
                                                };

                                    /* SEND EMAIL */
                                    Parse.Cloud.run('sendMail', emailparams, {
                                        success:
                                            function(result)
                                            {
                                                /*alert(result);*/
                                            },
                                        error:
                                            function()
                                            {
                                            }
                                        });
                                    
                                    window.location = "/pendingRegistration/<%=company.get("companyLink").toLowerCase()%>" ;
                                },
                                error: function(){
                                    alert("Error al crear cuenta User");
                                }
                            });

                    }, error: function(store, error){
                        alert(error.message);
                    }});

            });

        </script>			
	</body>
</html>
