<!DOCTYPE html>
<html>
    <head>
		
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta charset="utf-8" />
        <title>LC Cargo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Jura&amp;subset=all">
		   
	
        <!--ADMIN REQUIREMENTS-->   
        <% include generals/ultraAdmin.ejs %>
        <script src="/cod/js/common.js"></script>
        <script src="/cod/js/moment.js"></script>
        <!-- QR CODE GENERATOR -->
        <script src="/cod/js/qrcode/qrcode.js"></script>
        <script src="/cod/js/jquery-1.11.2.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
        <script src="http://yui.yahooapis.com/3.6.0/build/yui/yui-min.js"></script>
        <script src="//www.parsecdn.com/js/parse-1.4.2.min.js"></script>
      
	  <style>
	  .inputText{height: 34px; 
width: 233px; 
padding: 3px 5px 3px 5px; 
border-style: none; 
background-image: url(./media/textfieldwidget.png); 
font-family: courier new; 
font-size: 21px}
</style>

		<script>
		
		function login(){
			$("#regClient").css('display', 'none');
			$("#Login").css('display', '');
			$("#regStore").css('display', 'none');		
		}
		
		function regClient(){
			$("#Login").css('display', 'none');
			$("#regClient").css('display', '');
			$("#regStore").css('display', 'none');		
		}
		
		
		function regStore(){
			$("#newLabelForm").css('display', '');
			$("#registerClient").css('display', 'none');
			$("#registerStore").css('display', 'none');	
		}
		
		
		
		</script>
		
	    <style>


		#geocomplete { width: 200px}

		.map_canvas { 
		  width:100%; 
		  height: 400px; 
		  margin: 10px 20px 10px 0;
	  
		}

		#multiple li { 
		  cursor: pointer; 
		  text-decoration: underline; 
		}
		</style>
	
		<script>
		function deleteRow(btn) {
		  var row = btn.parentNode.parentNode;
		  row.parentNode.removeChild(row);
		}
		</script>
		
	       
    </head>
    <!-- END HEAD -->

    <!-- BEGIN BODY -->
    <body>
		<div class="screen">
            <!--START TOPBAR-->
   		<!-- START TOPBAR -->
           <div class='page-topbar sidebar_shift'>
               <div class='quick-area'>
                   <div class='pull-left'>
                       <ul class="info-menu left-links list-inline list-unstyled">
                           <li class="">
                               <a href="#" data-toggle="sidebar" class="sidebar_toggle">
                                   <i class="fa fa-bars"></i>
                               </a>
                           </li>
  
                   
                       </ul>
                   </div>		
                   <div class='pull-right'  style="z-index:9999;">
                       <ul class="info-menu right-links list-inline list-unstyled">
                           <li class="profile">
                               <a href="#" data-toggle="dropdown" class="toggle">
                                   <span>Options  <i class="fa fa-angle-down"></i></span>
                               </a>
                               <ul class="dropdown-menu profile animated fadeIn">
                                   <li>
                                       <a href="/staff_mainSettings">
                                           <i class="fa fa-wrench"></i>
                                        About
                                       </a>
                                   </li>
                           </li>
                           </ul>			
                          </div>		
                          </div>

           </div>
           <!-- END TOPBAR -->
            <!-- START CONTAINER -->
            <div class="page-container row-fluid">
                <!-- SIDEBAR - START -->
	          <div class="page-sidebar" style="z-index:9999;">
	          <!-- MAIN MENU - START -->
	          <div class="page-sidebar-wrapper" id="main-menu-wrapper"> 
	          <!-- USER INFO - START -->
	          <div class="profile-info row">
	          <div class="profile-details col-md-8 col-sm-8 col-xs-8">
	          <h3>
	  		<a href="ui-profile.html">LC Cargo</a>
	          </h3>
	          </div>
	          </div>
	          <!-- USER INFO - END -->
	          <ul class='wraplist'>	

	                          <li class="">
	                              <a onclick="login()">
	                                  <i class="fa fa-sign-out"></i>
	                                  <span class="title" >Log In</span>
	                              </a>
	                          </li>
	                      

	                          <li class="">
	                               <a href="javascript:;">
	                                  <i class="fa fa-users"></i>
	                                 <span class="title">Register</span><span class="arrow "></span>
	  						   </a>
	  							   <ul class="sub-menu" >
	  							   <li><a onclick="regClient()">Consignee</a></li>
	  							   <li><a href="/staff_storestransit">Store</a><li>
	  							   </ul>
	                                 </li>
						
						
	                       
	                      </ul>

	                  </div>
	                  <!-- MAIN MENU - END -->



	                  <div class="project-info">

	                      <div class="block1">
	                          <div class="data">
	                              <span class='title'>Welcome!</span>
	                              
	                          </div>
                        
	                      </div>

	                  </div>
	              </div>
			
			
	  			 <section id="main-content" class="sidebar_shift">
                <!--  SIDEBAR - END -->	
                <!-- START CONTENT -->
                <section class="wrapper" style='margin-top:60px;display:inline-block;width:100%;padding:15px 0 0 15px;'>
                    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                    <!-- home-section -->
				   
				<!--MODAL PARA MOSTAR LABEL-->
					         <div id="openModal" class="modalDialog">
					                     <div>
					                     <a href="#close" title="Close" class="close">X</a>
					  										</br></br>
					  										<form method="post" action="/reset">
					                                              <p>
					                                                  <label><font color="#35353C">E-mail address:</font></label></br></br>
					                                                  <input type="email" name="re_email" id="re_email" class="input" placeholder="e-mail" size="34" />
					  												<input type="hidden" value="<%= company.get("companyLink") %>" name="companyLink">
					                                              </p>

					                                              </br>
					                                              <p class="submit">
					                                                  <input type="submit" name="wp-submit" id="wp-submit" class="btn btn-orange" value="Recover" />  &nbsp &nbsp<a href="#close" style="color:black;" >Cancel</a>
					                                              </p>
									
					                                          </form> 
	                           
                    </div>
                </section>
		</section>
		
		<div id="Login">
	    <div id="home-section">                                       
		<h1 align="center" style="margin-top:21px; margin-bottom:42px; font-size: 6em; "><%= company.get("companyLink") %>               </h1>
		
            <form class="formlog" align="center" method="post" action="/logins">
            <p class="input-field"><input type="text" name="username" id="username" placeholder="Username"  class="inputText"/></p>
			<input type="hidden" name="company" id="company" value="<%=company.get("companyLink")%>" />
			<p class="input-field" ><input type="password" name="password" id="password" placeholder="Password" class="inputText" /></p>                 <button type="submit" id="nesto-submit" class="pure-button pure-button-primary" style="float:center; margin-top:3px;">
			<span>Log In</span>
		    </button>
            <a href="#openModal" class="btn btn-lg btn-nesto-o" style="position:float:right; z-index:9999; background:#eee; color:rgba(50, 50, 58, 1.0);" />Forgot?</a>
	        </form>
			</div>
		</div>
			
			
			<!--CLIENT REGISTRATION-->
		    <div id="regClient" style="display:none;">                                       
			<h1 align="center" style="margin-top:21px; margin-bottom:42px; font-size: 6em; ">Consignee</h1>

                             <!-- form -->
                             <form id="contactform" class="formlog" method="post" action="/<%= company.get("companyLink") %>" align="center">
                                 <!-- col-md-4 -->
                                 <div class="col-md-12">
                                     <!-- Contact Name -->
                                     <div class="form-group">
                                         <div class="controls">
                                             <label class="" for="field-1"><font color="#35353C">Full Name:</font></label>
                                         <p class="input-field"> <input type="text" maxlength="55" id="usrFullName" name="usrFullName" class="inputText"></p>
                                       

                             
                                             <label class="" for="field-1"><font color="#35353C">Language:</font></label>
                                         <p class="input-field"> <select id="usrLanguage" name="usrLanguage" class="inputText">
                                             <option value="Spanish">Spanish</option>
                                             <option value="English">English</option>
                                             </select></p>
                                     
                                
                                            <label class="" for="field-1"><font color="#35353C">ID1:</font></label>
                                       <p class="input-field"> <input type="text" class="inputText" maxlength="55" id="usrID1" name="usrID1"></p>
                                     
                                             <label class="" for="field-1"><font color="#35353C">Telephone:</font></label>
                                            <p class="input-field"> <input type="text" class="inputText" maxlength="21" id="usrTel" name="usrTel"></p>
                             
                                             <label class="" for="field-1"><font color="#35353C">Email:</font></label>
                                        <p class="input-field">     <input type="text" class="inputText" maxlength="55" id="usrEmail" name="usrEmail"></p>
                                     
                                
                                             <label class="" for="field-1"><font color="#35353C">Create username:</font></label>
                                             <p class="input-field"><input type="text" class="inputText" maxlength="55" id="usrUsername" name="usrUsername"></p>
                                        
								
                                 <!-- col-md-12 -->
                               
                                             <label class="" for="field-1"><font color="#35353C">Create password:</font></label>
                                         <p class="input-field">    <input type="password" class="inputText" maxlength="55" id="usrPassword" name="usrPassword"></p>
                            
                              <label class="" for="field-1"><font color="#35353C">Re-type password:</font></label>
                             <p class="input-field">  <input type="password" class="inputText" maxlength="55" id="usrRePassword" name="usrRePassword"></p>
                                           </div>
                                       </div><!-- /Contact Name -->
                                   </div><!-- /col-md-4 --> 
						
						
                            <div class="col-md-12">
                            <!-- Contact Message -->
                            <div class="form-group">
                            <div class="controls">
                                             
                          
                          <!--<form>-->
                <label class="" for="field-1"><font color="#35353C"><b>Destionations:</b></label></br>
	   
             <p class="input-field">  <input id="geocomplete" type="text" placeholder="Type in an address" size="90" class="username" style="width:377px; margin-right:5px;"/></p>
			  <button id="find" type="button"  id="nesto-submit" class="btn btn-lg btn-nesto-o" style="top:-80px; left:40%;"/><span>Add Destination</span></button>
			  <div style="position:relative; top:-34px; width:810px; left:21%; ">
                                             <!--</form>-->
                                             <pre><b>Destinations List:</b> To add another destination click on the Add Destination button and write a new address.
													
                                     
                                                 <table id="logger" style="position:relative; top:-34px;">
             
                                                 </table>
                                             </pre>
                                             <div class="map_canvas"></div>
                                 </div>
                                         </div>
                                     </div><!-- /Contact Message -->
                                 </div><!-- /col-md-12 -->

                                 <!-- col-md-12 -->
                                 <div class="col-md-12">
                                 <!-- Submit Button --> 
                     <!-- DONT WORK   
                             <input type="hidden" name="companyID" value="<%= company.get('objectId')%>">
                                     -->
                                     
                <button id="find"  type="submit"  id="clientSubmit" class="pure-button pure-button-primary"/><span>Register</span></button> 
                                     
                                 </div><!-- /col-md-12 -->

                                 <!-- col-md-12 -->
                                 <div class="col-md-12">
                                     <!-- Form Message -->
                                     <div id="contact-form-message"></div>
                                 </div><!-- /col-md-12 -->
                                     
                                 <input type="hidden" name="companyID" value="<%= company.id%>">

                             </form><!-- /form -->
			   
			   
			   
			   
				</div>
			
			
            <!-- END CONTENT -->

            </div><!-- END CONTAINER -->
		</div>
	
    </div>
    <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

    <%include generals/endFiles.ejs%>


    </div>
        <!-- modal end -->
		
        <script src="/cod/js/jquery-1.11.2.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
        <script src="cod/js/jquery.geocomplete.js"></script>

        <script>
            
            var $j = jQuery.noConflict();
   
            var nwarehouses = 1;
            
            $j(function(){
   
                var options = {
                  map: ".map_canvas",
                    details: "form ul",
                  detailsAttribute: "data-geo"
                };
                
                $j("#geocomplete").geocomplete(options)
                  .bind("geocode:result", function(event, result){
                      /*alert(JSON.stringify(result) );*/
                      
                    $j.log(result);
                  })
				  
  
                  .bind("geocode:error", function(event, status){
                    /*$j.log("ERROR: " + status);*/
                  })
                  
                  .bind("geocode:multiple", function(event, results){
                    /*$j.log("Multiple: " + results.length + " results found");*/
                  });
               
              });
              
              $j("#find").click(function(){
                $j("#geocomplete").val('');
              });
              
              
              $j.log = function(result){
                var message = result.formatted_address;
                var wareName = result["address_components"][0]["long_name"];
                
                var long_name;
                var short_name;
                
                for( i in result["address_components"] )
                {
                    if( $.inArray("country", result["address_components"][i]["types"]) > -1)
                    {
                        wareName += " - " + result["address_components"][i]["long_name"];
                        long_name = result["address_components"][i]["long_name"];
                        short_name = result["address_components"][i]["short_name"];
                        break;
                    }
                }
                
                var logger = $j("#logger");
                logger.html(logger.html()+ "<tr><td style='white-space: nowrap; padding-top: 2px;' align='left'>" + 
                                "<input type='button' value='Delete' class='pure-button pure-button-primary' style='background:#E08566;' onclick='deleteRow(this)'>"  +
                                "\n * " + message + "\n" + "<b><font color='#E08566'>Destination Name:</font></b>" + "\n" + 
                                "<input type='text' name='Alias" + nwarehouses.toString() + "' value='"+ wareName +
                                "' placeholder='Destination Name' style='width:34%; background:white; height:34px;'><input type='hidden' value='" + message +
                                "' name='Address"+ nwarehouses.toString() +"'>"+  
                                "<input type='hidden' name='Country"+ nwarehouses.toString() +"' value='"+ long_name +"'>" +
                                "<input type='hidden' name='CountryCode"+ nwarehouses.toString() +"' value='"+ short_name +"'>" +
                                "<input type='hidden' name='GeoCode"+ nwarehouses.toString() +"' value='"+ JSON.stringify(result) +"'></td></tr>");
                                
                nwarehouses += 1;
                
                $j("#geocomplete").val('');
              };
              
            
        </script>
        
        <script>
            
            var nwarehousesStore = 1;
            
            $j(function(){
                
                var options = {
                  map: ".map_canvasStore"
                };
                
                $j("#geocompleteStore").geocomplete(options)
                
                  .bind("geocode:result", function(event, result){
                    $j.logStore(result.formatted_address);
                  })
                  
                  .bind("geocode:error", function(event, status){
                    $j.logStore("ERROR: " + status);
                  })
                  
                  .bind("geocode:multiple", function(event, results){
                    $j.logStore("Multiple: " + results.length + " results found");
                  });
                  
               
              });
              
          $j("#findStore").click(function(){
                $j("#geocompleteStore").val('');
            });
          
          
          $j.logStore = function(message){
                var logger = $j("#loggerStore");
                logger.html(logger.html()+ "<tr><td style='white-space: nowrap; padding-top: 2px;'>" + "<input type='button' value='Delete' class='pure-button pure-button-primary' style='background:#E08566;' onclick='deleteRow(this)'>"  + "\n * " + message + "\n" + "<b><font color='#E08566'>Warehouse Name:</font></b>" + "\n" + "<input type='text' name='shop" + nwarehousesStore.toString() + "' placeholder='Warehouse Name'><input type='hidden' value='" + message +"' name='Address"+ nwarehousesStore.toString() +"'></td></tr>");
                nwarehousesStore += 1;
              };
            
        </script>

        <script type="text/javascript" src="login/js/vendor/jquery-1.11.0.js"></script>
        <script type="text/javascript" src="login/js/vendor/bootstrap.min.js"></script>
        
        <script type="text/javascript" src="login/js/plugins/jquery.placeholder.js"></script>
        <script type="text/javascript" src="login/js/plugins/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="login/js/plugins/smoothscroll/smooth-scroll.min.js"></script>
        <script type="text/javascript" src="login/js/plugins/okvideo/okvideo.min.js"></script>
        <script type="text/javascript" src="login/js/plugins/nivo/nivo-lightbox.min.js"></script>
        <script type="text/javascript" src="login/js/plugins/owl-carousel/owl.carousel.min.js"></script>
        <script type="text/javascript" src="login/js/plugins/ajaxchimp/jquery.ajaxchimp.min.js"></script>
        <script type="text/javascript" src="login/js/plugins/retina-1.1.0.js"></script>
        <script type="text/javascript" src="login/js/plugins/wow/wow.min.js"></script>
        <script type="text/javascript" src="login/js/1322.js"></script>
      
      
        <script>        
        // JavaScript Document

        $(document).ready(function(){
        
                $(window).resize(changeSize.init);
                $(window).load(changeSize.init);

                function initSlider() 
                {
                    $('#layerslider').layerSlider({
                                skinsPath : 'skins/',
                                skin : 'fullwidth',
                                thumbnailNavigation : 'hover',
                                hoverPrevNext : false,
                                responsive : false,
                                responsiveUnder : 1200,
                                sublayerContainer : 1000,
                                autoStart : true,
                                pauseOnHover : false,
                                firstLayer : 1,
                                animateFirstLayer : true,
                        });
                }

    
            // Plugin que calcula el offset top de los elementos para poder animarlos al hacer scroll
            var wpOffset = 85;
            if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
		        wpOffset = 100;
		     }
             
		     $.fn.waypoint.defaults = {
		        context: window,
		        continuous: true,
		        enabled: true,
		        horizontal: false,
		        offset: 0,
		        triggerOnce: false
		     };
		     $('.animated').waypoint(function(direction) {
		        var elem = $(this);
		        var animation = elem.data('animation');
		        if ( !elem.hasClass('visible') ) {
		            if ( elem.attr('data-animation-delay') !== undefined ) {
		                var timeout = elem.data('animation-delay');

		                setTimeout(function(){
		                    elem.addClass( animation + " visible" );
		                }, timeout);
		            } else {
		                elem.addClass( elem.data('animation') + " visible" );
		            }
		        }
		     }, { offset: wpOffset+'%' });
	 
	 
	 
	 
			 });
	 
	 
			 // Funcion para arregar el alto de las imagenes en el Onload y Resize
	 
	 	
				var changeSize = {
					init:function() {
				
				
				var $window = $(window);

	
	
					if ($window.scrollTop() > 10) {
				
					$('#layerslider').removeClass('topload')	
					}
		  
		 		
			
				var anchoScreen = ($(window).width())/2;
		
				var anchoCirculo = $('.circle_down').width()/2;
				var ResultadoAncho =  anchoScreen -  anchoCirculo ;
				$('.circle_down').css({left:Math.round(ResultadoAncho)});
		
		
				var WindowHeight = $(window).height();
		
		
				$('#layerslider').height(WindowHeight)
		
				var WindowHeightDiv = $(window).height()/2;
				var anchoImg_1 =  $('.contImg1 > img').width()/2;
				var anchoImg_2 =  $('.contImg2 > img').width()/2;
				var anchoImg_3 =  $('.contImg3 > img').width()/2;
				var anchoImg_4 =  $('.contImg4 > img').width()/2;
				var anchoImg_5 =  $('.contImg5 > img').width()/2;
		
		
			
				$('.ls-bg').height(WindowHeight);
	
				// Igualo la altura del contenedor de las imagenes de cada feature con la imagen mas grande del contenedor para mantener espacio
		
				if ( $(window).width() >  1000  ) {
				var altoImagenThird = $('.contanimations_third img.baseheigh').height();
				$('.contanimations_third').height(altoImagenThird);
		
				}else {
		
				var altoImagenThird2 = $('.contanimations_third img.baseheightwo').height();
				$('.contanimations_third').height(altoImagenThird2);
				}
		
				if ( $(window).width() <  1511  ) {
		
				var altoImagen = $('.contanimations img.img-responsive').height();
				$('.contanimations').height(altoImagen);
		
				var altoImagenSecond = $('.contanimations_second img.baseheighstaff').height();
				$('.contanimations_second').height(altoImagenSecond);
		
		
		
				var altoImagenFourth = $('.contanimations_fourth img.img-responsive').height();
				$('.contanimations_fourth').height(altoImagenFourth);
		
		
				var altoImagenFive = $('.contanimations_five img.img-responsive').height();
				$('.contanimations_five').height(altoImagenFive);
		
		
				}
		
		
		
			// Hago aparecer los elemetos que se animan cuando hago scroll de pantalla
	
	
			$('#mesure').waypoint(function() {
				excLight();
			}, { offset:200 });
	
	
				$('.rotated').waypoint(function() {
				 TweenLite.to($('.rotated '), 0.5, {css:{opacity:1}, ease:Power1.easeIn})
			}, { offset:280 });
	
	
				$('.rotated').waypoint(function() {
				 TweenLite.to($('.rotated '), 0.5, {css:{opacity:1}, ease:Power1.easeOut})
			}, { offset:320 });
	
	
	
				$('.opacitylayer').waypoint(function() {
				 TweenLite.to($('.opacitylayer '), 0.5, {css:{visibility:'visible'}, ease:Power1.easeOut})
			}, { offset:280 });
	
				$('.opacitylayerfirst').waypoint(function() {
				 TweenLite.to($('.opacitylayerfirst '), 0.5, {css:{visibility:'visible'}, ease:Power1.easeOut})
			}, { offset:350 });
	
	
	
		
	
				function excLight() {
			
					var tl3 = new TimelineLite({delay:0.3,onComplete:myFunction});
		
						var anime9 = $('.light');
						function myFunction() {
							tl3.restart();
						}
						tl3.to(anime9, 1, {css:{opacity:1,},ease:Power2.easeIn});
						tl3.to(anime9, 1.6, {css:{opacity:0 },ease:Power2.easeIn});
						tl3.to(anime9, 1, {css:{opacity:1,},ease:Power2.easeIn});
						tl3.to(anime9, 1.6, {css:{opacity:0},ease:Power2.easeIn});
						tl3.to(anime9, 1, {css:{opacity:1},ease:Power2.easeIn});
						tl3.to(anime9, 1.6, {css:{opacity:0},ease:Power2.easeIn});
			
					}
		
				
				}};
                
                
                
        </script>

		
    </body>
</html>
