<div id="repack_table">
    <table class="table table-bordered" id="blueRow">
        <tr>
            <th>Check</th>
            <th>Rcpt. #</th>
            <th>Shipper</th>
            <th>Date</th>
            <th>Country</th>
            <th>Boxes</th>
            <th>Transport</th>
            <th>Volume</th>
            <th>WareHouse</th>
        </tr>

        <% results.forEach(function(label){%>
            <tr>
                <td align="center"><input id="<%=JSON.stringify({"objectId":label['objectId'], "Receipt":label['ReceiptNum']})%>" name="checkware" class="checkreceipt" type="checkbox"></td>
                <td align="center"><a onclick="showboxes('<%=label['objectId']%>')" href="#openModalB"><%= label["ReceiptNum"]%></a></td>
                <td><%= label["Shipper"]%></td>
                <td><%= label["ReceiptDate"]%></td>
                <td><%= label["Destination"]%></td>
                <td><%= label["TotalBoxes"]%></td>
                <td><%= label["Transport"]%></td>
                <td><%= label["Volume"]%></td>
                <td><%= label["Warehouse"]%></td>
            </tr>
        <% }) %>        
    </table>
    
    
</div>

<script>

$(".checkreceipt").change(function(){
        
        dict = JSON.parse(this.id);

        if(this.checked)
        {
            var query = new Parse.Query("Warehouses");
            
            query.get(dict["objectId"], {
                success: 
                    function(object)
                    {
                        boxes = JSON.parse(object.get("Boxes"));                    
                        repack_receipts[object.id] = boxes;
                    }
                });
        }
        else
        {
            delete repack_receipts[dict["objectId"]];
            /*alert("Deleted from repack: " + dict["objectId"]);*/
        }
    });

/* ESTA FUNCION INICIALIZA LOS BOXES DEL RECEIPT AL QUE SE LE DIO CLICK QUE SERAN MOSTRADOS EN EL MODALBOX */
function showboxes(objectId)
{
    openedreceipt = objectId;

    var query = new Parse.Query("Boxes");
    
    query.ascending('Num');
    query.include('Receipt')
    query.equalTo("Receipt", {__type: "Pointer", className: "Receipts", objectId: openedreceipt});
    
    query.find({
        success: 
            function(results)
            {
                
                $("#boxes_table > tbody").html("");
                
                results.forEach(function(box){
                    
                    boxindex = parseInt(box.get("Num")[0])-1;
                    
                    if( isboxadded( box.get("Num") ) )
                        row = "<tr><td><input type='checkbox' checked name='boxitems' id='"+ JSON.stringify({objectId:box.id, Receipt:box.get("Receipt").get("ReceiptNum"), Num:box.get("Num")}) +"'></td><td>"+box.get("Length")+"</td><td>"+box.get("Width")+"</td><td>"+box.get("Height")+"</td><td>"+box.get("Weight")+"</td><td>"+box.get("Num")+"</td></tr>";
                    else
                        row = "<tr><td><input type='checkbox' name='boxitems' id='"+ JSON.stringify({objectId:box.id, Receipt:box.get("Receipt").get("ReceiptNum"), Num:box.get("Num")}) +"'></td><td>"+box.get("Length")+"</td><td>"+box.get("Width")+"</td><td>"+box.get("Height")+"</td><td>"+box.get("Weight")+"</td><td>"+box.get("Num")+"</td></tr>";
                    
                    
                    $("#boxes_table > tbody").append(row);
                });
            }
        });
}

function isboxadded(num)
{
    for( i in repack_receipts[openedreceipt])
    {
        if(repack_receipts[openedreceipt][i]["Num"] == num)
            return true;
    }
    return false;
}

</script>
