<div id="repack_table">
    <table class="table table-bordered" id="blueRow">
        <tr>
            <th>Check</th>
            <th>Rcpt. #</th>
            <th>Shipper</th>
            <th>Date</th>
            <th>Country</th>
            <th>Boxes</th>
            <th>Transport</th>
            <th>Volume</th>
            <th>WareHouse</th>
        </tr>

        <% results.forEach(function(label){%>
            <tr>
                <td align="center"><input id="<%=JSON.stringify({"objectId":label['objectId'], "Receipt":label['Receipt']})%>" name="checkware" class="checkreceipt" type="checkbox"></td>
                <td align="center"><a onclick="showboxes('<%=label['objectId']%>')" href="#openModalB"><%= label["Receipt"]%></a></td>
                <td><%= label["Shipper"]%></td>
                <td><%= label["ReceiptDate"]%></td>
                <td><%= label["Country"]%></td>
                <td><%= label["TotalBoxes"]%></td>
                <td><%= label["Transport"]%></td>
                <td><%= label["Volume"]%></td>
                <td><%= label["Warehouse"]%></td>
            </tr>
        <% }) %>        
    </table>
    
    
</div>

<script>

$(".checkreceipt").change(function(){
        
        dict = JSON.parse(this.id);

        if(this.checked)
        {
            var query = new Parse.Query("Warehouses");
            
            query.get(dict["objectId"], {
                success: 
                    function(object)
                    {
                        boxes = JSON.parse(object.get("Boxes"));                    
                        repack_receipts[object.id] = boxes;
                    }
                });
        }
        else
        {
            delete repack_receipts[dict["objectId"]];
            /*alert("Deleted from repack: " + dict["objectId"]);*/
        }
    });

/* ESTA FUNCION INICIALIZA LOS BOXES DEL RECEIPT AL QUE SE LE DIO CLICK QUE SERAN MOSTRADOS EN EL MODALBOX */
function showboxes(objectId)
{
    openedreceipt = objectId;

    var query = new Parse.Query("Warehouses");
    
    query.descending('createdAt');
    
    query.get(objectId, {
        success: 
            function(object)
            {
                boxes = JSON.parse(object.get("Boxes"));
                
                $("#boxes_table > tbody").html("");
                
                for(i in boxes)
                {
                    /*if( object.id )*/
                    var row = "<tr><td><input type='checkbox' name='boxitems' id='"+JSON.stringify(boxes[i])+"'></td><td>"+boxes[i]["length"]+"</td><td>"+boxes[i]["width"]+"</td><td>"+boxes[i]["height"]+"</td><td>"+boxes[i]["weight"]+"</td><td>"+boxes[i]["boxes"]+"</td></tr>";
                    $("#boxes_table > tbody").append(row);
                }
            }
        });
}
</script>
