<!DOCTYPE html>
<html>
    <head>
		
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta charset="utf-8" />
        <title>LC Cargo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Jura&amp;subset=all">
		   
	
   <!--ADMIN REQUIREMENTS-->   
  <% include ../../generals/ultraAdmin.ejs %>
	
    
        <script src="/cod/js/common.js"></script>
        <script src="/cod/js/moment.js"></script>
        
        <!-- QR CODE GENERATOR -->
        <script src="/cod/js/qrcode/qrcode.js"></script>
    
        <script src="/cod/js/jquery-1.11.2.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
        <script src="http://yui.yahooapis.com/3.6.0/build/yui/yui-min.js"></script>
        <script src="//www.parsecdn.com/js/parse-1.4.2.min.js"></script>
        <link rel="stylesheet" type="text/css" href="assets/css/print.css" media="print" />
		

    </head>
    <!-- END HEAD -->

    <!-- BEGIN BODY -->
    <body>
		<div class="screen">
		<!--START TOPBAR-->
		 <% include ../../generals/topbar.ejs %>
		 
        <!-- START CONTAINER -->
        <div class="page-container row-fluid">
        <!-- SIDEBAR - START -->
		 <% include ../../generals/sideBar.ejs %>
        <!--  SIDEBAR - END -->
			
			
            <!-- START CONTENT -->
        
           <section class="wrapper" style='margin-top:60px;display:inline-block;width:100%;padding:15px 0 0 15px;'>
              
              <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
              <div class="page-title">
              <div class="pull-left">
		  			
              <h1 class="title">TRASH</h1>
			
            <div id="content">
		   <div id="warehouses_content">
                
		   	  <fieldset class="container">
	  			 		
						
		   		  <div class="pull-right"></div>
	 
		   	           <div class="row">
				  
		   			    <div class="col-md-6 col-xs-6" style="margin-top:21px; margin-bottom:34px;">
							<a id="btn_emptytrash" class="pure-button pure-button-primary" style="background:#E08566;" name="">Empty Trash!</a>
		 
		   	           </div>

		   	         <div class="col-md-6 col-xs-6" style="margin-top:28px; left:21%;"></div>
              
		   	          <div class="panel">
		   	            <div class="panel-body">

		   	              <ul id="list">
			 				   
		                         			 
					 <div id="ware_table"> 
					  <table class="table table-bordered" id="blueRow">
					  <style>
					  #not:nth-child(even) {background: white}
					  #not:nth-child(odd) {background: #FBFBFC}
					  </style>
				       <tr>
					   <th>Receipt #</th>
					   <th>Client</th>
					   <th>Store</th>
					   <th>Date</th>          
					   <th>Restoration</th>          
					   <th>Permanent deletion</th>          
					   </tr>
							<% results.forEach(function(label){%>
							<tr>
							  <td><%=label.get("ReceiptNum")%></td>
							  <td><%=label.get("Consignee").get("Name")%></td>
							  <td><%if(typeof label.get("Shipper") != "undefined"){%><%=label.get("Shipper").get("Name")%><%}%></td>
							  <td><%=label.updatedAt%></td>
							  <td id='<%=label.id%>'><button class="pure-button pure-button-primary" onclick="Restore('<%=label.id%>');">Restore</button></td>
							  <td><a id="<%= label.id %>" class="pure-button pure-button-primary deleteperm" style="background:#E08566;">Delete Permanently</a></td>
							</tr>
							  <% }) %>   
					   </table>
                       
					   
				  
								 </div>
								 
		   	              </ul>
		   	            </div>
		   	          </div>
	         
	       
		   	  </fieldset>
    
		   </div>
    
		  
            </div>

		      </div>
              </div>
              </div>
            </section>
            </section>
            <!-- END CONTENT -->

        </div><!-- END CONTAINER -->
		
		
					
			
    </div>
    <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

    <%include ../../generals/endFiles.ejs%>

	

	
    </div>
    
<script>
    Parse.initialize("XEPryFHrd5Tztu45du5Z3kpqxDsweaP1Q0lt8JOb", "MDhb1hBngr2tx2v9TjyzoUhMcOFeWGJ56TWvChqi");
    
    /* GLOBAL USER */
    var user;

    /* OBTENCION Y ALMACENAMIENTO DEL CURRENT USER PARA USARSE CLIENTSIDE */
    var query = new Parse.Query("User");
    
    query.descending('createdAt');
    query.include("Company");
    
    query.get("<%= user.id%>", {
        success: 
            function(object)
            {
                /* SAVE USER FOR FUTURE OPERATIONS */
                user = object;
                
            }
        });
        
            
    function Restore(receiptId)
    {
        Parse.Cloud.run('restore', { receiptId: receiptId}, {
            success: 
                function(result) 
                {
                    /*alert(result);*/
                    $("#"+receiptId).parent().hide();
                },
            error:
                function()
                {
                }
            });
    }

    $(".deleteperm").click(function(){
            
            var Receipts = Parse.Object.extend("Receipts");
            var receipt = new Receipts();
            receipt.id = this.id;

            receipt.destroy();
            
            $("#"+this.id).parent().hide();
        });
        
    $("#btn_emptytrash").click(function(){
            var qreceipts = new Parse.Query("Receipts");
            qreceipts.contains("Status", "Deleted");
            /*qreceipts.equalTo("Company", user.get("Company"));*/
            
            qreceipts.find(function(results){

                    for(i in results)
                    {
                        var Receipts = Parse.Object.extend("Receipts");
                        var receipt = new Receipts();
                        receipt.id = results[i].id;

                        receipt.destroy();
                        
                        $("#"+results[i].id).parent().hide();
                    }
                });
        });
</script>
    
        <!-- modal end -->
    </body>
</html>
